*{
    font-family: sans-serif;
    margin: 0%;
    padding: 0%;
}
body{
    color: rgb(71, 65, 65);
}
nav{
    padding: 10px;
    background-color: gray;
   position: relative;
}
ul{
    display: flex;
    gap: 7%;
    margin-left: 10%;
    
}
li{
    font-style: none;
    list-style: none;
}
a{
    text-decoration: none;
    color: brown;
}
#quick{
    padding-right: 30%;
}

#btnTalk{
    padding: 12px 18px;
    background-color: rgb(238, 112, 154);
    border: none;
    border-radius: 15px;
    font-size: 18px;
    margin-top: 2% ;
    /* margin-left: 50%; */
    text-align: center;
    justify-content: center;
    align-items: center;
}
.container1{
        background: url(landing.jpeg);
        margin-top: 2%;
        background-repeat: no-repeat;
        background-size: cover;

        height: 500%;

}
.home{
    /* background: url(landing.jpeg); */
    font-size: 18px;
    /* margin-top: 20% ; */
    /* margin-left: 20%; */
    text-align: center;
    align-items: center; 
}

.About{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 2%;
    margin-left: 10%;
    gap: 2%;
}
.abouttxt{
    margin-top: 25%;
}
.txtheading{
    font-weight: bolder;
    font-size: 500px;
}